{
   "arrowParens": "always",
   "bracketSameLine": false,
   "bracketSpacing": false,
   "embeddedLanguageFormatting": "auto",
   "htmlWhitespaceSensitivity": "ignore",
   "insertPragma": false,
   "jsxSingleQuote": false,
   "printWidth": 80,
   "proseWrap": "preserve",
   "quoteProps": "as-needed",
   "requirePragma": false,
   "semi": true,
   "singleQuote": true,
   "trailingComma": "all",
   "useTabs": false,
   "vueIndentScriptAndStyle": true,
   "tabWidth": 3
}
